<template name="toimialueetUpdate">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'toimialueetIndex'}}">Toimialueet</a></li>
            <li class="active">update</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Update Toimialueet</h3>
            </div>
            <div class="clearfix"></div>

            {{> toimialueet_form model}}  
        </div>        
    </div>
</template>